@import '../../../@theme/styles/pages.scss';

@include nb-install-component() {
  
  .fullWidth {
    padding: 0 0 9px;
  }

  .tabFiltro {
    max-height: calc(46vh - 3px);
    overflow: hidden;
    overflow-y: scroll;
    padding: 0px !important;
  }

  nex-radio{
    display: flex;
    justify-content: center;
  }

  .noHeight{
    height: 100% !important;
  }

  .tabFiltroOperacao {
    height: 290px;
    padding: 0px !important;
  }


}