<div class="shortcut">
    <div class="btn dropdown top-title" id="fullScreen" onclick="openFullscreen()">
        <img src="./assets/icons/full.png" style="width: 1.1rem;height: auto;" />
    </div>    
    <div class="btn dropdown top-title" id="restScreen" style="display: none;" onclick="closeFullscreen()">
        <svg class="bi bi-fullscreen-exit" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M5.5 0a.5.5 0 01.5.5v4A1.5 1.5 0 014.5 6h-4a.5.5 0 010-1h4a.5.5 0 00.5-.5v-4a.5.5 0 01.5-.5zm5 0a.5.5 0 01.5.5v4a.5.5 0 00.5.5h4a.5.5 0 010 1h-4A1.5 1.5 0 0110 4.5v-4a.5.5 0 01.5-.5zM0 10.5a.5.5 0 01.5-.5h4A1.5 1.5 0 016 11.5v4a.5.5 0 01-1 0v-4a.5.5 0 00-.5-.5h-4a.5.5 0 01-.5-.5zm10 1a1.5 1.5 0 011.5-1.5h4a.5.5 0 010 1h-4a.5.5 0 00-.5.5v4a.5.5 0 01-1 0v-4z" clip-rule="evenodd"></path>
        </svg>
    </div>
    <!-- <div class="row no-margin align-items-center">
        <div class="col bt dropdown">
            <img src="./assets/icons/mail.png" style="width: 1.1rem;" />
        </div>    
    </div>
    <div class="row no-margin align-items-center">
        <div class="col bt dropdown">
            <img src="./assets/icons/calendar.png" style="width: 1.1rem;" />
        </div>    
    </div>
    <div class="row no-margin align-items-center">
        <div class="col bt dropdown">
            <img src="./assets/icons/calc.png" style="width: 0.9rem;" />
        </div>    
    </div>
    <div class="row no-margin align-items-center">
        <div class="col bt dropdown">
            <img src="./assets/icons/clippboard.png" style="width: 0.9rem;" />
        </div>    
    </div>
    <div class="row no-margin align-items-center">
        <div class="col bt dropdown">
            <img src="./assets/icons/web.png" style="width: 1rem;" />
        </div>    
    </div> -->
</div>