<div class="col btt-treeview">
    <div class="row utilitario">
        <div class="col bt bt-tv disabled" (click)="onCaptura_Click()">
            <img src="./assets/icons/iconA.svg" />
        </div>                        
        <div class="col bt bt-tv disabled">
            <img src="./assets/icons/iconB.svg" />
        </div>                        
        <div class="col bt bt-tv disabled">
            <img src="./assets/icons/iconC.svg" />
        </div>                        
        <div class="col bt bt-tv disabled">
            <img src="./assets/icons/iconD.svg" />
        </div>
    </div>
</div>