@import '../../styles/pages.scss';

@include nb-install-component() {

    .modalForm {

        visibility: hidden;

        position: absolute;
        top: -350px;
        left: calc(50% - 200px);
        width: 400px;
        
        border: 1px solid #151a30;
        border-top: none !important;
        border-radius: 0 0 5px 5px;
        z-index: 101;

        animation: hideModal 0.3s;
        animation-fill-mode: forwards;
    }

    .card {
        border-radius: 0 0 5px 5px;
        box-shadow: 0px 22px 40px black;
    }

    .card-header {
        color: orange;
    }

    .card-body {
        padding: 18px 14px 6px;
        font-size: 13px;
        text-align: center;
        color: orange;
    }

    .panel {
        padding: 9px 9px 6px 9px;
    }

    .modalForm.voted {
        visibility: visible;
        animation: showModal 0.3s;
        animation-fill-mode: forwards;
    }

    nb-accordion {
        box-shadow: none;
        padding: 0;
    }

    nb-accordion-item-header {
        font-size: 13px;
        color: #727886;
        padding: 0 14px 6px;
    }

    nb-accordion-item-body {
        font-size: 13px;
        background: black;
        color: limegreen;    
    }
}