<div class="modalForm noselect" id="modalForm" [class.voted]="tempoExpiradoModal.showModal">
    <div class="card-form" class="card">
        <div class="card-header" style="border-radius: 0 !important;">
            {{ title }}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-2" style="max-width: 120px;padding: 0;">
                    <nex-box [title]="'Foto'" [marginTop]="0" [minPadding]="true" [background]="'#191e38'" [fullHeight]="true">
                        <nex-avatar [size]="'size-112'" [image]="pessoaImagem" [noMargin]="true" [noPadding]="true" [noBorder]="true"></nex-avatar>
                    </nex-box>
                </div>
                <div class="col-10" style="padding: 0;" style="max-width: calc(100% - 120px);padding: 0;padding-left: 9px !important;">
                    <nex-box [noPadding]="true" [marginTop]="0" [fullHeight]="true" [background]="'#191e38'">
                        <nex-listview [params]='listView_identificacao' [classHeader]="'minPadding'" [gridScroll]="true" [maxWidth]="155" (eventCheck)="onlistviewPessoa_Change($event)"></nex-listview>
                    </nex-box>   
                </div>
            </div>
        </div>
        <div class="card-footer">
            <nex-alert-card [alertService]="alertService"></nex-alert-card>
            <div class="buttons">
                <button type="button" class="btn btn-dark bt-card greenBorder" [disabled]="identificacao == null" (click)="onEncerrar_Click()">Encerrar</button>
                <button type="button" class="btn btn-dark bt-card orangeBorder" [disabled]="identificacao == null" (click)="onCancelar_Click()">Cancelar</button>
                <button type="button" class="btn btn-dark bt-card" (click)="onClose_Click()">Fechar</button>
            </div>
        </div>
    </div>
</div>