@import '../../../@theme/styles/pages.scss';

@include nb-install-component() {
  
    .texto-adm {
        height: calc(100% - 9px);
        width: 100%;
        border: 1px solid #434561;
        background: #222b45;
        padding: 9px;
        font-family: roboto;
        font-size: 0.7rem !important;
        line-height: normal;
        white-space: normal !important;
        border-top: 0px !important;

        .title-adm {
            text-align: center;
        }
    
        .div-interna-adm {
            width: 100%;
            min-width: 230px;

            p {
                margin-bottom: 0;
                font-family: roboto;
                font-size: 0.65rem !important;            
                line-height: normal;
                color: #A9ABAE;
            }
        }
    }


    .texto-faixa-horaria {
        white-space: normal !important;

        p {
            margin-top: 9px;
            margin-bottom: 0;
            font-family: roboto;
            font-size: 0.6rem !important;            
            line-height: normal;
            color: #A9ABAE;
        }
    }

    .termoValidade {
        max-height: 64px;
        overflow: hidden;
    }

    .termoFaixaHorario {
        max-height: 50px;
        overflow: hidden;
    }

    .termoValidadeFaixaHorario {
        max-height: 30px;
        overflow: hidden;
    }    

    .termoExpansao {

    }
}