<nex-actionbuttom id="buttons" (eventClick)="onActionButtom_Click($event)"></nex-actionbuttom>
<nex-capture [captureModal]="captureModalService" [type]="'Pessoa'" [clearButton]="true" (onCapture)="onImage_Captured($event)"></nex-capture>
<nex-veiculo-externo-modal [title]="'Pesquisa de Veículos Externo'" [filter]="filterVeiculoExterno" [veiculoModal]="pessoaVeiculoModalService" (eventSelect)="pessoaVeiculoModalSelect($event)"></nex-veiculo-externo-modal>
<div class="modulo player" id="player" [class.voted]="actionbuttomService.flipped">
    <div id="grid" class="grid front">
        <nex-listview [params]="listView_PessoaExterna" (eventCheck)="onListView_Change($event)" (eventFilter)="onListView_Filter($event)"></nex-listview>
    </div>
    <div id="form" class="formFull back">
        <div id="card-form" class="card">
            <div class="card-header">
                <div>
                    Cadastro de Pessoa Externa
                </div>
                <nex-card-tabs [options]="cardTabs_Options" (eventClick)="onCardTabs_Click($event)"></nex-card-tabs>
            </div>
            <div class="card-body displayFlex"                 
                 nbSpinnerMessage="Aguarde..."
                 nbSpinnerStatus="basic"
                 nbSpinnerSize="giant"
                 [nbSpinner]="showSpinner"
                 id="pessoaExternaComponent_Panel"  
                 *ngIf="cardTabs_Options?.selectCard.id == 1">
                <div class="panel">
                    <nex-form-group [name]="'pessoaExternaDados'">
                        <div class="row">
                            <div class="col-1 col-avatar-1">
                                <nex-avatar [image]="pessoaImagem" [size]="'large'" [capture]="true" [marginTop]="0" (imageCapture)="onImageCapture_Click($event)"></nex-avatar>
                            </div>   
                            <div class="col-11 col-avatar-11">
                                <div class="row">
                                    <div class="col">
                                        <nex-input-label [text]="'Nome'" [input]="pessoaNome_Text" [marginTop]="0"></nex-input-label>
                                    </div>
                                    <div class="col">
                                        <nex-combobox [label]="'Grupo'"  [options]="pessoaGrupo_Option" [marginTop]="0"></nex-combobox>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="row">
                                            <div class="col">
                                                <nex-input-label [text]="'Telefone Fixo'" [input]="pessoaTelefoneFixo_Text"></nex-input-label>
                                            </div>
                                            <div class="col">
                                                <nex-input-label [text]="'Telefone Móvel'" [input]="pessoaTelefoneMovel_Text"></nex-input-label>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <nex-input-label [text]="'Email'" [input]="pessoaEmail_Text"></nex-input-label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-full">
                                        <nex-input-label [text]="'Observação'" [input]="pessoaObservacao_Text"></nex-input-label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nex-form-group>
                </div>
                <div class="panel fullHeight">
                    <div class="row fullHeight">
                        <div class="col col-6 displayFlex">
                            <nex-tabs-card [tabsOptions]="tabsConfiguracao_Option" [name]="'tabsConfiguracaoPessoa'" [largeHeight]="true" [marginTop]="0">
                                <nex-tab [tabComponent]="tabsConfiguracao_Option.tabs[0]">
                                    <nex-form-group [name]="'identificacao'">
                                        <div class="row">
                                            <div class="col">
                                                <nex-combobox [options]="identificacaoDocTipo_Option" [inputLabel]="identificacaoDocNumero_Text" [type]="'doc'" (eventChange)="onTipoDoc_Change()"></nex-combobox>
                                            </div>
                                            <div class="col">
                                                <nex-input-label [text]="'Nascimento'" [input]="identificacaoNascimento_Text"></nex-input-label>
                                            </div>
                                        </div>
                                        <nex-combobox [label]="'Cargo'" [options]="identificacaoCargo_Option" [type]="'input'" [dynamic]="true" (eventClick)="onCargoPopulate()"></nex-combobox>
                                        <nex-combobox [label]="'Empresa'" [options]="identificacaoEmpresa_Option" [type]="'input'"></nex-combobox>
                                    </nex-form-group>
                                </nex-tab>
                                <nex-tab [tabComponent]="tabsConfiguracao_Option.tabs[1]">
                                    <nex-form-group [name]="'complementos'" [minWidthFix]="120">
                                        <nex-input-label [text]="complementoLabel1" [input]="complemento1_Text"></nex-input-label>
                                        <nex-input-label [text]="complementoLabel2" [input]="complemento2_Text"></nex-input-label>
                                        <nex-input-label [text]="complementoLabel3" [input]="complemento3_Text"></nex-input-label>
                                        <nex-input-label [text]="complementoLabel4" [input]="complemento4_Text"></nex-input-label>        
                                    </nex-form-group>
                                </nex-tab>
                                <nex-tab [tabComponent]="tabsConfiguracao_Option.tabs[2]">
                                    <nex-form-group [name]="'groupEndereco'">
                                        <nex-input-label [text]="'Logradouro'" [input]="enderecoLogradouro_Text"></nex-input-label>
                                        <div class="row">
                                            <div class="col">
                                                <nex-input-label [text]="'Número'" [input]="enderecoNumero_Text"></nex-input-label>
                                            </div>
                                            <div class="col">
                                                <nex-input-label [text]="'Complemento'" [input]="enderecoComplemento_Text"></nex-input-label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col col-8">
                                                <nex-input-label [text]="'Bairro'" [input]="enderecoBairro_Text"></nex-input-label>
                                            </div>
                                            <div class="col col-4">
                                                <nex-input-label [text]="'CEP'" [input]="enderecoCEP_Text" [labelMinWidth]="41"></nex-input-label>
                                            </div>
                                        </div>
                                        <nex-input-label [text]="'Cidade'" [input]="enderecoCidade_Text"></nex-input-label>
                                        <div class="row">
                                            <div class="col col-7">
                                                <nex-input-label [text]="'Estado'" [input]="enderecoEstado_Text"></nex-input-label>
                                            </div>
                                            <div class="col col-5">
                                                <nex-input-label [text]="'País'" [input]="enderecoPais_Text" [labelMinWidth]="41"></nex-input-label>
                                            </div>
                                        </div>
                                    </nex-form-group>
                                </nex-tab>
                            </nex-tabs-card>        
                        </div>
                        <div class="col col-6 displayFlex">
                            <nex-tabs-card [tabsOptions]="tabsValidade_Option" [name]="'tabsOptions'" [marginTop]="0" [largeHeight]="true">
                                <nex-tab [tabComponent]="tabsValidade_Option.tabs[0]">
                                    <nex-form-group [name]="'validade'">
                                        <nex-combobox [label]="'Status'" [options]="estado_Options"></nex-combobox>
                                        <nex-input-multi-label [text]="'Integração'" [inputLeft]="integracaoInicio_Text" [inputRight]="integracaoFim_Text"></nex-input-multi-label>
                                        <nex-input-multi-label [text]="'Segurança'" [inputLeft]="segurancaInicio_Text" [inputRight]="segurancaFim_Text"></nex-input-multi-label>
                                        <nex-input-multi-label [text]="'Exame Médico'" [inputLeft]="exameInicio_Text" [inputRight]="exameFim_Text"></nex-input-multi-label>
                                    </nex-form-group>
                                </nex-tab>
                            </nex-tabs-card>   
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body" [ngStyle]="{'display': cardTabs_Options?.selectCard.id == 2? 'block': 'none'}">
                <div class="panel fullHeight">
                    <nex-box class="fullHeight"
                        [marginTop]="0"
                        [fullHeight]="true" 
                        [showFooter]="true" 
                        [boxPanel]="boxButton"
                        [background]="'#192038'"
                        (eventButtonClick)="onButton_Click($event)">
                        <nex-listview [params]='listView_PessoaVeiculo' 
                            [classHeader]="'minPadding'" 
                            [class]="'displayInBox'" 
                            [editable]="editable"
                            (eventCheck)="onlistViewPessoaVeiculo_Change($event)"></nex-listview>
                    </nex-box>
                </div>
            </div>
            <div class="card-body" *ngIf="cardTabs_Options?.selectCard.id == 3">
                <div class="panel fullHeight">
                    <div class="row abordagemRow">
                        <nex-textarea-label [label]="'Informativa'" [name]="'txtAbordagemInformativa'" [textarea]="abordagemInformativa_Text" [editable]="editable" [fullHeight]="true" [marginTop]="0" [color]="'#30b833'" [fontWeight]="'500'"></nex-textarea-label>
                    </div>
                    <div class="row abordagemRow">
                        <nex-textarea-label [label]="'Advertida'" [name]="'txtAbordagemAdvertida'" [textarea]="abordagemAdvertida_Text" [editable]="editable" [fullHeight]="true" [color]="'#ded77c'" [fontWeight]="'500'"></nex-textarea-label>
                    </div>
                    <div class="row abordagemRow">
                        <nex-textarea-label [label]="'Restritiva'" [name]="'txtAbordagemRestritiva'" [textarea]="abordagemRestritiva_Text" [editable]="editable" [fullHeight]="true" [color]="'#e04350'" [fontWeight]="'500'"></nex-textarea-label>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <nex-alert-card [alertService]="alertService"></nex-alert-card>
                <div style="padding: 0 !important; text-align: right;">
                    <div style="display: flex;">
                        <div class="optionsButtons">
                            <button *ngIf="actionbuttomService.editable != 'no'" type="button" class="btn btn-dark bt-card greenBorder"   (click)="onSave_Click()">Salvar</button>
                            <button *ngIf="actionbuttomService.editable != 'no'" type="button" class="btn btn-dark bt-card redBorder"     (click)="onClose_Click()">Cancelar</button>
                            <button *ngIf="actionbuttomService.editable == 'no'" type="button" class="btn btn-dark bt-card orangeBorder"  (click)="onClose_Click()">Fechar</button>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>