<nex-actionbuttom id="buttons"></nex-actionbuttom>
<div class="modulo">
    <div id="grid" class="grid">
        <div class="card">
            <div class="card-header">
                <b>Informações sobre a Nexcode Systems</b>
            </div>
            <div class="card-body">
                <div class="panel">
                    <div class="box">
                        <div>
                            <div class="logo-informativo">
                                <nex-image [src]="'./assets/images/topLogo.png'" [width]="163" [height]="55"
                                    [border]="false" [sizeText]="false" [class]="'logoPadding'">
                                </nex-image>
                            </div>
                            <div class="texto">
                                No ano 2000, em meio a uma época de grandes mudanças e avanços tecnológicos, nasceu a
                                Nexcode Systems, uma organização que vem conquistando um posicionamento
                                de grande destaque no mercado de segurança eletrônica. Com atuação direta em
                                organizações de diferentes portes e segmentos, a marca NEXCODE está presente nas
                                localidades
                                do Brasil.<br><br>
                                Entre os principais diferenciais da Nexode Systems, está a tecnoligia própria,
                                desenvolvida para assegurar os investimentos de nossos clientes, permitindo versalidade
                                na
                                integração com outros sistema e até mesmo a customização de software e/ou
                                hardware.<br><br>
                                A Nexcode Systems hoje é um grupo empresarial, 100% nacional, formado por 4 empresas
                                como uma única missão: desenvolver e implatar tecnologias que contribuam para um
                                ambiente
                                melhor, provendo: segurança, sustentabilidade, praticidade e bem-estar.<br><br>
                                O mundo transforma-se tão rapidamente que é impossivel acompanharmos todas as mudanças,
                                a tecnoligia popularizada, a informação em tempo real e o fácil acesso a comunicação
                                nos lugares mais remotos fazem parte de nosso dia-a-dia. Para usufruirmos dessas
                                facilidades, temos de combinar nossas expectativas com as ferramentas certas para
                                torná-las
                                viáveis. Para isso é importante contar com a ajuda de uma organização confiável e com
                                profissionais altamente especializados. Conte conosco, conte com toda nossa experiência!
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>