<div class="modalForm noselect" id="modalForm" [class.voted]="selecaoFaixaHorariaModal.showModal">
    <div class="card-form card" id="selecaoFaixaHorarioModal">
        <div class="card-header" style="border-radius: 0 !important;">
            {{title}}
        </div>
        <div class="card-body">
            <div class="panel">
                    <nex-box [noPadding]="true" [marginTop]="0" [fullHeight]="true" [background]="'#192038'">
                        <nex-listview [params]='listView_FaixaHoraria' 
                                      [showFilter]="false" 
                                      [classHeader]="'minPadding'" 
                                      [class]="'displayInBox'" 
                                      [gridScroll]="true"></nex-listview>
                    </nex-box>
            </div>
        </div>
        <div class="card-footer">
            <div class="card-footer-buttons">
                <button type="button" class="btn btn-dark bt-card greenBorder" (click)="onAplicar_Click()">OK</button>
                <button type="button" class="btn btn-dark bt-card redBorder" (click)="onClose_Click()">Fechar</button>
            </div>
        </div>
    </div>
</div>