<nex-actionbuttom id="buttons"></nex-actionbuttom>
<div class="modulo">
    <div id="grid" class="grid">
        <div class="card">
            <div class="card-header">
                <b>Informações sobre Contrato de Licenciamento de Uso de Software</b>
            </div>
            <div class="card-body">
                <div class="panel">
                    <div class="box">
                        <div class="title-informativo">CONTRATO DE LICENÇA DE USO DE SOFTWARE NEXCODE</div>
                        <div class="texto-informativo">1. CONCESSÃO DE LICENÇA</div>
                        <div class="texto">A Nexcode Systems concede a você (pessoa física ou jurídica), doravante denominada Licenciada, o direito de instalar e usar este produto em seus computadores, 
                            conforme o número de conexões e o período determinado no Hardlock, executando cópias validamente licenciadas do sistema operacional para qual este produto foi 
                            elaborado.
                        </div>
                        <div class="texto-informativo">2. FORMA DE LICENCIAMENTO</div>
                        <div class="texto">
                            Softwares desenvolvidos pela Nexcode Systems são validados utilizando-se de um dispositivo USB conhecido como Hardlock.<br><br>
                            Cada Hardlock é identificado através de um número único de licença que poderá estar relacionado a uma ou mais cópias de softwares, de um ou mais produtos Nexcode.<br><br>
                            O Hardlock deve ser muito bem mantido porque sua perda implica na exclusão da licença e consecutivamente na perda do direito de utilização de todos os softwares relacionados.<br><br>
                            O Hardlock é a garantia que você tem de não estar utilizando uma cópia pirata de um produto desenvolvido pela Nexcode Systems.
                        </div>
                        <div class="texto-informativo">3. PIRATARIA</div>
                        <div class="texto">Software é uma das mais valiosas tecnologias da era da informação, sendo fundamental para o funcionamento dos computadores e do acesso à internet. Infelizmente, 
                            devido a facilidade de se copiar um programa de computador, a pirataria de software tem evoluído no mundo, passando por usuários domésticos e até contrabandistas internacionais. 
                            A pirataria de software está presente em vários lugares:  residências, escolas, empresas e até mesmo em setores públicos.  A pirataria de software não apenas prejudica as 
                            empresas que o desenvolvem, prejudica os governos porque tributos não são recolhidos, prejudica a sociedade porque empregos não são gerados e impede que novos investimentos 
                            sejam feitos em pesquisa e desenvolvimento de novas tecnologias, ou seja, todos saem perdendo.<br><br> 

                            Toda cópia sem autorização, até mesmo aquela que você faz para um amigo é ilegal. Nunca utilize software pirata, pois, a pirataria de software é crime e não compensa. 
                            Uma multa por utilizar um software pirata pode chegar a 3000 vezes o valor original do produto.
                            </div>
                        
                        <div class="texto-informativo" >4. RESTRIÇÕES</div>
                        <div class="texto">Avisos de Copyright: É vedada a remoção ou alteração de quaisquer avisos de copyright deste produto.<br><br>
                            Engenharia Reversa: É vedada a engenharia reversa, descompilação ou desmontagem dos softwares, exceto e somente 
                            na medida em que estas atividades sejam expressamente permitidas pela legislação aplicável, inobstante tal limitação.<br><br>   
                            Transferência: Este produto está licenciado estrita e exclusivamente para uso do Licenciado e não poderá ser cedido 
                            a terceiros em qualquer circunstância, temporária ou definitivamente.<br><br>  
                            Extravio: Todos os objetos que acompanham este produto deverão ser muito bem mantidos pelo Licenciado, principalmente o Hardlock.<br><br>   
                            Backup: É permitido fazer uma cópia dos softwares para fins de backup.
                        </div>

                        <div class="texto-informativo">5. DIREITO AUTORAL</div>
                        <div class="texto">Todos os títulos e direitos autorais relativos a este produto (incluindo, mas não limitado a quaisquer imagens, fotografias, animações, vídeos, áudios, músicas, textos e "aplicativos"
                             incorporados aos Softwares) e materiais impressos que o acompanham são de propriedade da Nexcode Systems ou de seus fornecedores. Os softwares desenvolvidos pela Nexcode, 
                             são protegidos por leis de copyright e tratados internacionais, bem como por outras legislações e tratados sobre propriedade intelectual.
                        </div>
                        <div class="texto-informativo">6. GARANTIA</div>
                        <div class="texto">Os produtos desenvolvidos pela Nexcode Systems possuem garantia de 12 meses contra defeito de fabricação, contados a partir da emissão da nota fiscal, 
                            no entanto, não garante que este produto atenderá todas as expectativas e exigências ou que o uso do software será totalmente isento de erros ou interrupções.
                        </div>

                        <div class="texto-informativo">7. LIMITAÇÃO DE RESPONSABILIDADE</div>
                        <div class="texto">De acordo com as limitações impostas pela legislação aplicável, em nenhuma hipótese a Nexcode Systems e seus fornecedores serão responsáveis por quaisquer 
                            danos especiais, acidentais, consequenciais ou quaisquer outros danos indiretos (incluindo, sem limitações, danos por perda de lucros comerciais, 
                            interrupções de transações comerciais, perda de informações comerciais ou outras perdas pecuniárias) decorrentes do uso ou da impossibilidade 
                            de utilizar este produto.
                        </div>

                        <div class="texto-informativo">8. RESCISÃO</div>
                        <div class="texto">Sem detrimento de quaisquer outros direitos, a Nexcode Systems poderá rescindir este contrato caso não seja cumprido os termos e condições aqui dispostos.  
                            Neste caso, você deverá destruir todas as cópias dos softwares relacionados a este produto.</div>

                        <div class="autor-informativo"><b>Nexcode Systems, todos os direitos reservados.</b><br><br></div>
                    </div>
                    
                </div>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>