<nex-actionbuttom id="buttons"></nex-actionbuttom>
<div class="modulo">
    <div id="grid" class="grid">
        <div class="card">
            <div class="card-header">
                <b>Informações sobre o Sistema</b>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <span class="title-informativo">PLATAFORMA NEXCODE CONTROLS</span>
                        <div class="licenca-rede-globo">
                            <span>{{ software }}</span>
                            <span>--- Licença {{ licenca}} ---</span>
                            <span>Este produto está licenciado para {{ licenciado }}</span>
                            <span class="divisao">--------</span>
                        </div>
                        <div class="texto">
                            <span class="texto-informativo">A <b>Plataforma Nexcode Controls</b>  é um conjunto de soluções modernas e avançadas de software e hardware <br> desenvolvidas pela <b>Nexcode Systems</b>  para o gerenciamento dos mais simples aos mais críticos projetos <br> de segurança, auxiliando na proteção de pessoas, veículos, equipamentos e informações.</span>
                        </div>
                        <div class="logo-informativo">
                            <nex-image [src]="'./assets/images/topLogo.png'" [width]="133" [height]="45" [border]="false" [sizeText]="false" [class]="'logoPadding'"></nex-image>
                        </div>
                        <div class="autor">
                            <span class="autor-informativo"> <b> Desenvolvendo Tecnologia </b>  para sua segurança e bem-estar</span>
                        </div>
                    </div>
                </div>    
            </div>
            <div class="card-footer"></div>
        </div>
    </div>
</div>