<nex-actionbuttom id="buttons" (eventClick)="onActionButtom_Click($event)"></nex-actionbuttom>
<div class="modulo" id="viewer">
    <div id="grid" class="grid">
        <nex-listview [params]='listView_Area' [showGrid]="(listaId != null)" [showFilter]="false" (eventCheck)="onListView_Change($event)"></nex-listview>
    </div>    
    <div id="form" class="form">
        <div id="card-form" class="card">
            <div class="card-header">
                Emissão de Relatório
            </div>
            <div [nbSpinner]="showSpinner" nbSpinnerMessage="Aguarde..." nbSpinnerStatus="basic" nbSpinnerSize="giant" class="card-body">
                <div class="panel fullWidth">
                    <nex-tabs-card [fullWidth]="true" [tabsOptions]="tabsGestaoArea_Option" [name]="'tabsGestaoIdentificacao'">
                        <nex-tab [noPadding]="true" [tabComponent]="tabsGestaoArea_Option.tabs[0]">
                            <div class="tabFiltro">
                                <nex-form-group [name]="'filtroGestaoArea'">
                                    <nex-input-label [text]="'Nome'" [marginTop]="0" [input]="nome_Text"></nex-input-label>
                                    <nex-combobox [label]="'Grupo'" [marginTop]="0" [options]="grupo_Option"></nex-combobox>
                                    <nex-input-label [text]="'Documento'" [marginTop]="0" [input]="documento_Text"></nex-input-label>
                                    <nex-input-label [text]="'Matrícula'" [marginTop]="0" [input]="matricula_Text"></nex-input-label>
                                    <nex-input-label [text]="'Contrato'" [marginTop]="0" [input]="contrato_Text"></nex-input-label>
                                    <nex-input-label [text]="'Cargo'" [marginTop]="0" [input]="cargo_Text"></nex-input-label>
                                    <nex-input-label [text]="'Central'" [marginTop]="0" [input]="central_Text"></nex-input-label>
                                    <nex-input-label [text]="'Cartão'" [marginTop]="0" [input]="cartao_Text"></nex-input-label>
                                    <nex-input-label [text]="'Site Code'" [marginTop]="0" [input]="siteCode_Text"></nex-input-label>
                                    <nex-combobox [toUp]="true" [label]="'Área 1'" [type]="'input'" [dynamic]="true" [marginTop]="0" [options]="area1_Option" (eventClick)="onAreaOption_Click()"></nex-combobox>
                                    <nex-combobox [toUp]="true" [label]="'Área 2'" [type]="'input'" [dynamic]="true" [marginTop]="0" [options]="area2_Option" (eventClick)="onAreaOption_Click()"></nex-combobox>
                                </nex-form-group>
                            </div>
                        </nex-tab>
                        
                    </nex-tabs-card> 
                    <nex-combobox [toUp]="true" [label]="'Ordenação'"  [options]="ordenacao_Option"></nex-combobox> 
                </div>
            </div>
            <div class="card-footer">
                <nex-alert-card [alertService]="alertService"></nex-alert-card>
                <div class="buttons">
                    <button *ngIf="actionbuttomService.editable != 'no'" type="button" class="btn btn-dark bt-card greenBorder"   (click)="onPrint_Click()">Imprimir</button>
                    <button *ngIf="actionbuttomService.editable != 'no'" type="button" class="btn btn-dark bt-card redBorder"     (click)="onClose_Click()">Cancelar</button>
                    <button *ngIf="actionbuttomService.editable == 'no'" type="button" class="btn btn-dark bt-card orangeBorder"  (click)="onClose_Click()">Fechar</button>
                </div>
            </div>
            <div id="card-lock"></div>
        </div>
    </div>
</div>
<button *ngIf="showReport == true" style="position: fixed;top: 96px;z-index: 9999;left: calc(100% - 300px);" type="button" class="btn btn-dark bt-card redBorder"  (click)="onReportClose_Click()">Fechar</button>
