@import '../../../@theme/styles/pages.scss';

@include nb-install-component() {
  
  .fullWidth {
    margin-top: 9px;
    padding: 0 0 9px;
  }

  .tabFiltro {
    max-height: calc(46vh - 3px);
    overflow: hidden;
    overflow-y: scroll;
    padding: 0px !important;
  }
 
  nex-radio{
    display: flex;
    justify-content: center;
  }
  
}