<nex-actionbuttom id="buttons"></nex-actionbuttom>
<div class="modulo">
    <div id="grid" class="grid">
        <div class="card">
            <div class="card-header">
                <b>Informações sobre a Licença</b>
            </div>
            <div class="card-body">
                <div class="panel">
                    <div class="box">
                        <div class="row borderRow">
                            <div class="colunm_Left">Plataforma</div>
                            <div class="colunm_Right">{{ plataforma }}</div>
                        </div>
                        <div class="row borderRow">
                            <div class="colunm_Left">Licença</div>
                            <div class="colunm_Right">{{ licenca }}</div>
                        </div>
                        <div class="row borderRow">
                            <div class="colunm_Left">Licenciado</div>
                            <div class="colunm_Right">{{ licenciado }}</div>
                        </div>
                        <div class="row borderRow">
                            <div class="colunm_Left">Programação</div>
                            <div class="colunm_Right">{{ programacao }}</div>
                        </div>
                        <div class="row borderRow">
                            <div class="colunm_Left">Controle</div>
                            <div class="colunm_Right">{{ controle }}</div>
                        </div>
                        <div class="row borderRow">
                            <div class="colunm_Left">Software</div>
                            <div class="colunm_Right">{{ software}}</div>
                        </div>
                        <div class="row borderRow">
                            <div class="colunm_Left">Hardware</div>
                            <div class="colunm_Right">{{ hardware }}</div>
                        </div>
                        <div class="row borderRow">
                            <div class="colunm_Left">Integração</div>
                            <div class="colunm_Right">{{ integracao }}</div>
                        </div>
                        <div class="row borderRow">
                            <div class="colunm_Left">Versão</div>
                            <div class="colunm_Right">{{ versao }}</div>
                        </div>
                        <div class="row borderRow">
                            <div class="colunm_Left">Registro</div>
                            <div class="colunm_Right">{{ registro }}</div>
                        </div>

                        <div class="row borderRow">
                            <div class="colunm_Left">Virtualização</div>
                            <div class="colunm_Right">{{ virtualizacao }}</div>
                        </div>
                        <div class="row borderRow">
                            <div class="colunm_Left">Atualização</div>
                            <div class="colunm_Right">{{ atualizacao }}</div>
                        </div>
                        <div class="row borderRow">
                            <div class="colunm_Left">Observação</div>
                            <div class="colunm_Right">{{ observacao }}</div>
                        </div>
                       
                    </div>
                </div>
            </div>
            <div class="card-footer">
            </div>
        </div>
    </div>
</div>