<nex-actionbuttom id="buttons" (eventClick)="onActionButtom_Click($event)"></nex-actionbuttom>
<div class="modulo">
    <div id="grid" class="grid">
        <nex-listview [params]="listView_Terminal" [showGrid]="filter != undefined" (eventCheck)="onListView_Change($event)" (eventFilter)="onFilter_Change($event)"></nex-listview>
    </div>    
    <div id="form" class="form">
        <div id="card-form" class="card">
            <div class="card-header">
                Cadastro de Terminal
            </div>
            <div id="terminalPanel"
                 [nbSpinner]="showSpinner" 
                 nbSpinnerMessage="Aguarde..." 
                 nbSpinnerStatus="basic" 
                 nbSpinnerSize="giant"
                 class="card-body">
                <div class="panel">
                    <nex-form-group [name]="'terminalDados'">
                        <nex-input-label [text]="'Nome'" [input]="nome_Text" [marginTop]="0"></nex-input-label>
                        <nex-combobox [label]="'Tipo'" [options]="tipo_Option"></nex-combobox>
                        <nex-input-label [text]="'Local'" [input]="local_Text"></nex-input-label>
                        <nex-input-multi-label [text]="'IP'" [inputLeft]="ip_Text" [inputRight]="porta_Text"></nex-input-multi-label>
                        <nex-input-label [text]="'Login'" [input]="login_Text"></nex-input-label>
                        <nex-input-label [text]="'Senha'" [input]="senha_Text"></nex-input-label>
                        <nex-textarea-label [name]="'observacao'" [height]="61" [label]="'Observação'" [textarea]="observacao_Text" [editable]="editable"></nex-textarea-label>
                        <nex-radio [text]="'Status'" [options]="estado_Options"></nex-radio>
                    </nex-form-group>
                </div>
            </div>               
            <div class="card-footer">
                <nex-alert-card [alertService]="alertService"></nex-alert-card>
                <div class="buttons">
                    <button *ngIf="actionbuttomService.editable != 'no'" type="button" class="btn btn-dark bt-card greenBorder"   (click)="onSave_Click()">Salvar</button>
                    <button *ngIf="actionbuttomService.editable != 'no'" type="button" class="btn btn-dark bt-card redBorder"     (click)="onClose_Click()">Cancelar</button>
                    <button *ngIf="actionbuttomService.editable == 'no'" type="button" class="btn btn-dark bt-card orangeBorder"  (click)="onClose_Click()">Fechar</button>
                </div>
            </div>
            <div id="card-lock"></div>
        </div>
    </div>
</div>
